/*---------VArs--------*/
/*---------VArs--------*/
$shadow: 0 2px 8px #f0f1f2;
$sideBarSize: 250px;
$sideBarSize2: 100px;
$headerSize: 80px;
$Scolor: #ff9933;
$bg: #f3f3f3;
$txt: #1c1b1b;
$Pcolor: #5a2ed7;
