@import "./pages//Student/Styles/_global.scss";
@import "./styles/Forms.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.full {
  width: 100vh !important;
  height: 100vw !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Myspin {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.myModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;

  .Modale__content {
    background-color: white;
    padding: 3em;
    z-index: 1001;
    border-radius: 2px;
  }
}
